APP_PORT=3000
NODE_ENV=development
SERVICE_ID=notification-preferences-service
ENABLE_INTERNAL_ENDPOINTS=false
BASIC_AUTH_USERNAME=
BASIC_AUTH_PASSWORD=

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=notification_preferences
POSTGRES_PASSWORD=notification_preferences
POSTGRES_DB=notification_preferences

DATABASE_URL=postgresql://notification_preferences:notification_preferences@localhost:5432/notification_preferences
